<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
    <div id = "landing-container" class="ui container raised segment ">
        <div id = "landing-header" class="ui huge header">Welcome to the Planes App</div>
        <a href="/planes">
            <div id = "animated-btn" class="ui animated button blue huge" tabindex="0">
                <div class="visible content">Get Started!</div>
                <div class="hidden content">
                  <i class="right arrow icon"></i>
                </div>
              </div>
        </div>
    </a>


</body>
</html>

