<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<div class="ui top fixed inverted menu">
    <div class="item">
      <p>Planes App</p>
    </div>
    <a href="/planes" class="item" ">Home</a>
    <a href="/planes/new" class="item" >New Post</a>
    
  </div>

<body>
    
